################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hepsiburada.MarsRover.UnitTests/obj/project.nuget.cache
